<div class="container-fluid">
  <div class="pending-homepage row">
    <%= render 'pending_approval', pending_approvals: @pending_approvals %>
  </div>
</div>
<div class="pending-homepage">
  <div class="homepage-block">
    <p>33333</p>
  </div>
</div>
